<div id="<%= dom_id register %>" style="display: flex">

  <p style="margin: 1em"><%= datacao(register.created_at) %></p>

  <p style="margin: 1em">
    <strong>Tipo:</strong>
    <%= register.tipo %>
  </p>

  <p style="margin: 1em">
    <strong>Descricao:</strong>
    <%= register.descricao %>
  </p>

  <p style="margin: 1em">
    <strong>Valor:</strong>
    <%= register.valor %>
  </p>

  <p style="margin: 1em">
    <strong>Saldo:</strong>
    <%= register.saldo %>
  </p>

  <p style="margin: 1em">
    <strong>Transferencia:</strong>
    <%= register.transferir %>
  </p>

</div>
