<div id="<%= dom_id register %>">
  <p>
    <strong>Tipo:</strong>
    <%= register.tipo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= register.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= register.valor %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= register.saldo %>
  </p>

</div>
