<!--<p style="color: green"><%= notice %></p>-->
<center style="margin: 1em 2em">
    <% if @register.user_id == current_user.id %>
      <h1>ID usuario: <%= @register.user_id %></h1>
      
      <div style="display: flex;margin:1em" class="border border-2">
      <%= render @register %>
<!--      <div style="margin-top: 1em"><%= link_to "Edit this register", edit_register_path(@register), class: 'btn btn-secondary', style:"margin-right: 1em"%></div>
      <div style="margin-top: 1em"><%= button_to "Destroy this register", @register, method: :delete, class: 'btn btn-danger' %></div>-->
      <div style="margin-top: 0.5em;"><%= link_to "Back to registers", registers_path, class: 'btn btn-secondary' %></div></div>
    <% else %>
      <h4>Esse registro não pertence a esse Usuario</h4>
    <% end %>
</center>