<div id="<%= dom_id contum %>">
  <p>
    <strong>Nome:</strong>
    <%= contum.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= contum.cpf %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= contum.senha %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= contum.tipo %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= contum.saldo %>
  </p>

</div>
